.u-section-1 {background-image: url("images/52e5d1414251ae14f6da8c7dda793678153bdee757596c4870267cd79745cc51bf_1280.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 1737px}
.u-section-1 .u-text-1 {font-size: 3.75rem; animation-duration: 1000ms; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); margin: 22px 0 0 776px}
.u-section-1 .u-text-2 {font-weight: 700; font-size: 1.875rem; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); animation-duration: 1000ms; margin: 11px 81px 0 899px}
.u-section-1 .u-text-3 {font-size: 1.5rem; font-style: italic; text-shadow: 2px 2px 8px rgba(0,0,0,0.4); animation-duration: 1000ms; margin: -8px -7px 60px 917px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 224px}
.u-section-1 .u-sheet-1 {min-height: 1432px}
.u-section-1 .u-text-1 {margin-left: 576px}
.u-section-1 .u-text-2 {margin-right: 0; margin-left: 780px}
.u-section-1 .u-text-3 {font-weight: normal; margin-left: 817px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1097px}
.u-section-1 .u-text-1 {margin-left: 356px}
.u-section-1 .u-text-2 {margin-left: 560px}
.u-section-1 .u-text-3 {margin-left: 707px} }

@media (max-width: 767px){ .u-section-1 {min-height: 184px}
.u-section-1 .u-sheet-1 {min-height: 823px}
.u-section-1 .u-text-1 {margin-left: 176px}
.u-section-1 .u-text-2 {margin-left: 380px}
.u-section-1 .u-text-3 {margin-left: 617px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 518px}
.u-section-1 .u-text-1 {margin-left: 0}
.u-section-1 .u-text-2 {margin-left: 180px}
.u-section-1 .u-text-3 {margin-left: 517px} }